* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}


body{
    background-image: url("./sky2.jpg");
  
}
.home-detail{
    margin: 5% 15%;
    border: 3px solid black;
    padding: 8%;
   text-align: center;
}


p{
    font-family:"interstate-compressed";
    font-size: 24px;
}

@media screen and (max-width: 834px){
    .home-detail{
        margin: 4% 8%;
        padding: 8%;
    
    }
}

@media screen and (max-width: 375px) {
    .home-detail{
        margin: 10% 5%;
        padding: 5%;
    }
}